<div class="p-4 md:p-6 space-y-8">
  <p class="py-4 text-2xl font-semibold">Recent Blog Posts</p>
  <div class="space-y-8 lg:space-y-0 lg:space-x-8 lg:flex">
    <div class="space-y-4 lg:w-1/2">
      <div>
        <img
          class="md:h-[228px] object-cover object-center md:w-full"
          src="https://www.visioncabling.com.au/uploads/images/case-studies/Microsoft/_1400xAUTO_fit_center-center_80_none/DSC_3667.jpg"
        />
      </div>
      <div class="space-y-3">
        <p class="font-semibold text-purple-text">Sunday, 1 Jan 2023</p>
        <h2 class="text-2xl font-bold">
          Github Copilot Event at St.Georges Terrace
        </h2>
        <p class="text-gray-text">
          How do you create compelling presentations that wow your collegaues and
          impress your managers
        </p>
        <div class="flex space-x-3 items-center">
          <div
            class="bg-purple-200 rounded-full flex justify-center items-center py-2 px-4"
          >
            <span class="text-purple-text">Design</span>
          </div>
          <div class="bg-purple-200 rounded-full px-4 py-2">
            <span class="text-purple-text">Research</span>
          </div>
          <div class="bg-pink-200 rounded-full px-4 py-2">
            <span class="text-pink-text">Event</span>
          </div>
        </div>
      </div>
    </div>

    <!-- THE CODE BELOW IS FOR THE OTHER BLOG POSTS Treat it as a dummy component later once you have data and use ng for to map the data -->
    <div class="space-y-8 lg:w-1/2">
      <div class="space-y-4 md:flex md:space-y-0 md:space-x-6">
        <div>
          <img
            class="md:min-w-[320px] md:h-[200px] object-cover"
            src="https://live.staticflickr.com/65535/53247196047_f5dcbb7f10_z.jpg"
          />
        </div>
        <div class="space-y-3">
          <p class="font-semibold text-purple-text">Sunday, 1 Jan 2023</p>
          <h2 class="text-2xl font-bold">
            Github Copilot Event at St.Georges Terrace
          </h2>
          <p class="text-gray-text">
            How do you create compelling presentations that wow your collegaues and
            impress your managers
          </p>
          <div class="flex space-x-3 items-center">
            <div
              class="bg-purple-200 rounded-full flex justify-center items-center py-2 px-4"
            >
              <span class="text-purple-text">Design</span>
            </div>
            <div class="bg-purple-200 rounded-full px-4 py-2">
              <span class="text-purple-text">Research</span>
            </div>
            <div class="bg-pink-200 rounded-full px-4 py-2">
              <span class="text-pink-text">Event</span>
            </div>
          </div>
        </div>
      </div>
      <div class="space-y-4 md:flex md:space-y-0 md:space-x-6">
        <div>
          <img
            class="md:min-w-[320px] md:h-[200px] object-cover"
            src="https://www.visioncabling.com.au/uploads/images/case-studies/Microsoft/_1400xAUTO_fit_center-center_80_none/DSC_3667.jpg"
          />
        </div>
        <div class="space-y-3">
          <p class="font-semibold text-purple-text">Sunday, 1 Jan 2023</p>
          <h2 class="text-2xl font-bold">
            Github Copilot Event at St.Georges Terrace
          </h2>
          <p class="text-gray-text">
            How do you create compelling presentations that wow your collegaues and
            impress your managers
          </p>
          <div class="flex space-x-3 items-center">
            <div
              class="bg-purple-200 rounded-full flex justify-center items-center py-2 px-4"
            >
              <span class="text-purple-text">Design</span>
            </div>
            <div class="bg-purple-200 rounded-full px-4 py-2">
              <span class="text-purple-text">Research</span>
            </div>
            <div class="bg-pink-200 rounded-full px-4 py-2">
              <span class="text-pink-text">Event</span>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>



  <!-- RECENT BLOGS LAST POST -->
  <div class="space-y-4 lg:flex lg:space-x-8 lg:space-y-0">
    <div class="lg:w-1/2">
      <img
        class="md:h-[228px] object-cover object-center md:w-full"
        src="https://pbs.twimg.com/profile_banners/1713058376589209601/1697266268/1500x500"
      />
    </div>
    <div class="space-y-3 lg:w-1/2 ">
      <p class="font-semibold text-purple-text">Sunday, 1 Jan 2023</p>
      <h2 class="text-2xl font-bold">
        Github Copilot Event at St.Georges Terrace
      </h2>
      <p class="text-gray-text">dsfdsfds</p>
      <div class="flex space-x-3 items-center">
        <div
          class="bg-purple-200 rounded-full flex justify-center items-center py-2 px-4"
        >
          <span class="text-purple-text">Design</span>
        </div>
        <div class="bg-purple-200 rounded-full px-4 py-2">
          <span class="text-purple-text">Research</span>
        </div>
        <div class="bg-pink-200 rounded-full px-4 py-2">
          <span class="text-pink-text">Event</span>
        </div>
      </div>
    </div>
  </div>
</div>
