<section class="p-4 md:p-6">
  <div class="border-y">
    <h1 class="text-7xl font-bold text-center py-4">About</h1>
  </div>

  <div
    class="mt-10 space-y-4 lg:space-x-10 md:space-y-0 md:flex md:items-center md:justify-center"
  >
    <p class="md:w-[300px]">
      Hi, I'm Mingma Tenzing Sherpa. A passionate frontend developer
      continuously working towards enhancing my skills and knowledge in the
      world of ever changing web development to create amazing web apps. This
      blog is all about my experiences in this journey of becoming a software
      engineer, my thoughts, and some reviewes of the tech products and
      services.
    </p>
    <img
      ngSrc="https://cdn.sanity.io/images/kng3jsea/production/f63dd6dafe25dcb286b2eda4304635890e4a06c4-680x510.jpg"
      width="300"
      height="450"
      class="w-[400px] md:w-[360px] h-[300px] md:h-[400px] object-cover rounded-lg"
    />
  </div>
</section>
