<div class="space-y-4 m-2  w-[full] md:w-[378px] lg:w-[340px] ">
    <div>
      <img
        class=" w-full md:h-[200px] object-cover"
        src="https://live.staticflickr.com/65535/53247196047_f5dcbb7f10_z.jpg"
      />
    </div>
    <div class="space-y-3">
      <p class="font-semibold text-purple-text">Sunday, 1 Jan 2023</p>
      <h2 class="text-2xl font-bold">
        Github Copilot Event at St.Georges Terrace
      </h2>
      <p class="text-gray-text">
        How do you create compelling presentations that wow your collegaues and
        impress your managers
      </p>
      <div class="md:hidden flex space-x-3 items-center">
        <div class="bg-purple-200 rounded-full px-3 py-1">
          <p class="text-purple-text">Design</p>
        </div>
        <div class="bg-purple-200 rounded-full px-3 py-1">
          <p class="text-purple-text">Research</p>
        </div>
        <div class="bg-pink-200 rounded-full px-3 py-1">
          <p class="text-pink-text">Event</p>
        </div>
      </div>
    </div>
  </div>