<div class="space-y-2">
    <div>
      <ngx-skeleton-loader [theme]="{ width: '120px' }"></ngx-skeleton-loader>
    </div>
   <div>
     <ngx-skeleton-loader [theme]="{ height: '20px' }"></ngx-skeleton-loader>
     <ngx-skeleton-loader [theme]="{ height: '20px' }"></ngx-skeleton-loader>

   </div>
    <div class="flex items-center">
      
      <ngx-skeleton-loader appearance="circle"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{ width: '150px' }"></ngx-skeleton-loader>
    </div>
    <div>
      <ngx-skeleton-loader class="rounded-lg" [theme]="{height:'268px'}"></ngx-skeleton-loader>
    </div>

    <div>
      <ngx-skeleton-loader></ngx-skeleton-loader>
      <ngx-skeleton-loader></ngx-skeleton-loader>
      <ngx-skeleton-loader></ngx-skeleton-loader>
      <ngx-skeleton-loader></ngx-skeleton-loader>
      <ngx-skeleton-loader></ngx-skeleton-loader>
      <ngx-skeleton-loader></ngx-skeleton-loader>
      <ngx-skeleton-loader></ngx-skeleton-loader>
      <ngx-skeleton-loader></ngx-skeleton-loader>
      <ngx-skeleton-loader></ngx-skeleton-loader>
      
    </div>
  </div>