
  <!-- LOADING STATE -->
  <div>
    <div class="space-y-8 lg:space-y-0 lg:space-x-8 lg:flex">
      <div class="space-y-4 lg:w-1/2">
        <div>
          <ngx-skeleton-loader
            [theme]="{ height: '228px' }"
          ></ngx-skeleton-loader>
        </div>
        <div class="space-y-3">
          <ngx-skeleton-loader
            [theme]="{ width: '100px' }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            [theme]="{ height: '40px' }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            [theme]="{ height: '10px' }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            [theme]="{ height: '10px' }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            [theme]="{ height: '10px' }"
          ></ngx-skeleton-loader>

          <div class="flex space-x-3">
            <ngx-skeleton-loader
              [theme]="{ width: '75px' }"
            ></ngx-skeleton-loader>
            <ngx-skeleton-loader
              [theme]="{ width: '75px' }"
            ></ngx-skeleton-loader>
            <ngx-skeleton-loader
              [theme]="{ width: '75px' }"
            ></ngx-skeleton-loader>
          </div>
        </div>
      </div>

      <div class="lg:w-1/2">
        <div class="space-y-4 md:flex md:space-y-0 md:space-x-6">
          <div class="md:w-1/2">
            <ngx-skeleton-loader
              [theme]="{ height: '200px' }"
            ></ngx-skeleton-loader>
          </div>
          <div class="space-y-3 md:w-1/2 overflow-hidden">
            <ngx-skeleton-loader
              [theme]="{ height: '20px' }"
            ></ngx-skeleton-loader>
            <ngx-skeleton-loader
              [theme]="{ height: '40px', }"
            ></ngx-skeleton-loader>
            <ngx-skeleton-loader
              [theme]="{ height: '10px' }"
            ></ngx-skeleton-loader>
            <ngx-skeleton-loader
              [theme]="{ height: '10px' }"
            ></ngx-skeleton-loader>
            <ngx-skeleton-loader
              [theme]="{ height: '10px' }"
            ></ngx-skeleton-loader>

            <div class="flex space-x-3 md:w-full">
              <ngx-skeleton-loader
                [theme]="{ width: '75px' }"
              ></ngx-skeleton-loader>
              <ngx-skeleton-loader
                [theme]="{ width: '75px' }"
              ></ngx-skeleton-loader>
              <ngx-skeleton-loader
                [theme]="{ width: '75px' }"
              ></ngx-skeleton-loader>
            </div>
          </div>
        </div>

        <div class="space-y-4 md:flex md:space-y-0 md:space-x-6">
          <div class="md:w-1/2">
            <ngx-skeleton-loader
              [theme]="{ height: '200px' }"
            ></ngx-skeleton-loader>
          </div>
          <div class="space-y-3 md:w-1/2 overflow-hidden">
            <ngx-skeleton-loader
              [theme]="{ height: '20px' }"
            ></ngx-skeleton-loader>
            <ngx-skeleton-loader
              [theme]="{ height: '40px', }"
            ></ngx-skeleton-loader>
            <ngx-skeleton-loader
              [theme]="{ height: '10px' }"
            ></ngx-skeleton-loader>
            <ngx-skeleton-loader
              [theme]="{ height: '10px' }"
            ></ngx-skeleton-loader>
            <ngx-skeleton-loader
              [theme]="{ height: '10px' }"
            ></ngx-skeleton-loader>

            <div class="flex space-x-3 md:w-full">
              <ngx-skeleton-loader
                [theme]="{ width: '75px' }"
              ></ngx-skeleton-loader>
              <ngx-skeleton-loader
                [theme]="{ width: '75px' }"
              ></ngx-skeleton-loader>
              <ngx-skeleton-loader
                [theme]="{ width: '75px' }"
              ></ngx-skeleton-loader>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="space-y-4 lg:flex lg:space-x-8 lg:space-y-0">
      <div class=" lg:w-1/2">
        <ngx-skeleton-loader
          [theme]="{ height: '228px' }"
        ></ngx-skeleton-loader>
      </div>
      <div class="space-y-3 lg:w-1/2">
        <ngx-skeleton-loader [theme]="{ width: '100px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{ height: '40px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{ height: '10px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{ height: '10px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{ height: '10px' }"></ngx-skeleton-loader>

        <div class="flex space-x-3">
          <ngx-skeleton-loader
            [theme]="{ width: '75px' }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            [theme]="{ width: '75px' }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            [theme]="{ width: '75px' }"
          ></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </div>
  <!-- LOADING STATE UP -->