@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    font-family: 'Inter', sans-serif !important;
}

body.dark-theme{
    background-color: #090D1F;
    color: white;
}

body { margin: 0}

