<div class="md:w-[840px] lg:w-[1200px] m-auto p-4 md:p-6 space-y-8">
  <h2 class="py-4 text-3xl font-bold">Recent Blog Posts</h2>

  <div
    *ngIf="blog$ | async as blog; else loading"
    class="space-y-8 lg:space-y-0 lg:space-x-8 lg:flex"
  >
    <div [routerLink]="['/post', blog[0].slug]" class="space-y-4 lg:w-1/2">
      <div>
        <img
          loading="eager"
          class="md:h-[228px] object-cover object-center md:w-full"
          src="{{ blog[0].mainImage }}"
        />
      </div>
      <div class="space-y-3">
        <p class="font-semibold text-gray-600">
          {{ blog[0]._createdAt | date }}
        </p>
        <h2 class="text-2xl font-bold">
          {{ blog[0].title }}
        </h2>
        <p class="text-gray-text">
          {{ (blog[0].subtitle | slice : 0 : 210) + "...." }}
        </p>
        <div class=" flex space-x-3  items-center">

          <div *ngFor="let category of blog[0].categories ">
            <div class=" bg-gray-100 rounded-full flex justify-center items-center py-2 px-4">
              <span class=" text-sm text-gray-600">{{category}}</span>
            </div>
    
          </div>
        </div>
      </div>
    </div>

    <!-- THE CODE BELOW IS FOR THE OTHER BLOG POSTS Treat it as a dummy component later once you have data and use ng for to map the data -->
    <div class="space-y-8 lg:w-1/2">
      <div
        [routerLink]="['/post', blog[1].slug]"
        class="space-y-4 md:flex md:space-y-0 md:space-x-6"
      >
        <div>
          <img
            loading="eager"
            class="md:min-w-[320px] md:h-[200px] object-cover"
            src="{{ blog[1].mainImage }}"
          />
        </div>
        <div class="space-y-3">
          <p class="font-semibold text-gray-600">
            {{ blog[1]._createdAt | date }}
          </p>
          <h2 class="text-2xl font-bold">
            {{ blog[1].title }}
          </h2>
          <p class="text-gray-text">
            {{ (blog[1].subtitle | slice : 0 : 100) + "...." }}
          </p>
          <div class=" flex space-x-3  items-center">

            <div *ngFor="let category of blog[1].categories ">
              <div class=" bg-gray-100 rounded-full flex justify-center items-center py-2 px-4">
                <span class=" text-sm text-gray-600">{{category}}</span>
              </div>
      
            </div>
          </div>
        </div>
      </div>
      <div class="space-y-4 md:flex md:space-y-0 md:space-x-6">
        <div>
          <img
            loading="eager"
            class="md:min-w-[320px] md:h-[200px] object-cover"
            src="{{ blog[2].mainImage }}"
          />
        </div>
        <div class="space-y-3">
          <p class="font-semibold text-gray-600">{{ blog[2]._createdAt | date }}</p>
          <h2 class="text-2xl font-bold">
            {{ blog[2].title }}
          </h2>
          <p class="text-gray-text">
            {{ (blog[2].subtitle | slice : 0 : 100) + "...." }}
          </p>
          <div class=" flex space-x-3  items-center">

            <div *ngFor="let category of blog[2].categories ">
              <div class=" bg-gray-100 rounded-full flex justify-center items-center py-2 px-4">
                <span class=" text-sm text-gray-600">{{category}}</span>
              </div>
      
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- RECENT BLOGS LAST POST -->
  <div
    *ngIf="blog$ | async as blog"
    class="space-y-4 lg:flex lg:space-x-8 lg:space-y-0"
  >
    <div class="lg:w-1/2">
      <img
        loading="eager"
        class="md:h-[228px] object-cover object-center md:w-full"
        src="{{ blog[3].mainImage }}"
      />
    </div>
    <div class="space-y-3 lg:w-1/2">
      <p class="font-semibold text-gray-600">
        {{ blog[3]._createdAt | date }}
      </p>
      <h2 class="text-2xl font-bold">
        {{ blog[3].title }}
      </h2>
      <p class="text-gray-text">
        {{ (blog[3].subtitle | slice : 0 : 300) + "...." }}
      </p>
      <div class=" flex space-x-3  items-center">

        <div *ngFor="let category of blog[3].categories ">
          <div class=" bg-gray-100 rounded-full flex justify-center items-center py-2 px-4">
            <span class=" text-sm text-gray-600">{{category}}</span>
          </div>
  
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-home-loading></app-home-loading>
</ng-template>
